header {
background-color: rgb(146, 17, 17);
position: fixed;
height: 120px;
align-items: center;
width: 100%;
display: flex;
}

.menucontainer {
height: 200px;
position: fixed;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.racing-logo {
display: flex;
width: 6rem;
img {
    width: 6rem;
}
}

.menu {
margin-left: 25%;
padding: 3rem;

li {
    &:hover > ul {
    display: block;
    }
    ul {
    display: none;
    position: absolute;
    min-width: 140px;
    text-align: start;

    padding: 0;
    li {
        a {
        color: rgba(255, 166, 0, 0.922);
        }
    }
    }
}

ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}
a {
    font-family: Formula1-Bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    padding: 2%;
    &:hover {
    color: rgba(226, 234, 9, 0.912);
    }
}
}

/**propiedad para cambiar de color el texto a la hora de pasar el cursos**/

.abrir-menu {
display: none;
}

.cerrar-menu {
display: none;
}

.f1animado {
width: 100%;
height: auto;
overflow: hidden;
margin-top: auto;
img {
    width: 10%;
    position: relative;
    opacity: 0;
    animation: desplazamiento 10s linear infinite; /* Ajusta la duración según tu preferencia */
    @keyframes desplazamiento {
    0% {
        left: -80%;
        opacity: 0;
    }
    1% {
        opacity: 10;
    }

    100% {
        left: calc(
        140% - 100px
        ); /* Ajusta la posición final según el tamaño de tu imagen */
    }
    }
}
}
